* {
  /* font-family: "imprima"; */
}

*::placeholder,
*:disabled,
.date-picker {
  font-size: small;
}

.hero {
  background-image: url(./assets/bgii.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
}

.hero > header > * {
  width: 33%;
}

.hero nav a {
  text-decoration: none;
  color: inherit;
  font-variant: small-caps;
}

.booking-panel {
  top: -75px;
  width: 75%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.homepage .alert {
  width: 75%;
}

@media screen and (max-width: 768px) {
  .booking-panel {
    width: 90%;
    top: -150px;
  }

  .homepage .alert {
    width: 90% !important;
  }
}

.invisible {
  visibility: hidden;
}

.modal-header .btn-close {
  transform: scale(0.7); /* Shrinks the button to 70% size */
}
