* {
  font-family: "imprima";
}

.homepage .hero {
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rooms .hero {
  background-image: url(./assets/room-hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  width: 150px;
}

.hero nav a {
  text-decoration: none;
  color: inherit;
  font-variant: small-caps;
}

.booking-panel {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.hero-text-big {
  font-family: "verdana";
  font-size: 5em;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .logo {
    width: 120px;
  }
}

@media screen and (max-width: 768px) {
  .hero-text-big {
    font-family: "verdana";
    font-size: 3em;
    font-weight: 700;
  }

  .logo {
    width: 80px;
  }

  *::placeholder,
  *:disabled,
  .date-picker,
  .guest-selector {
    font-size: small;
    text-wrap: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .room-tile .row {
    flex-direction: column-reverse;
  }
}

.invisible {
  visibility: hidden;
}

.modal-header .btn-close {
  transform: scale(0.7); /* Shrinks the button to 70% size */
}

.room-tile .row:hover {
  position: relative;
}

.room-tile .row:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12.5%;
  height: 75%;
  width: 2px;
  background: black;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #14274a; /* Triangle color */
}

.align-icon-text {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem; /* space between icon and text */
}

.room-card .slick-slider {
  position: relative;
}

.room-card .slick-dots {
  position: absolute;
  bottom: 20px; /* adjust as needed */
  width: 100%;
  display: flex !important;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 2;
}

.room-card .slick-dots li button:before {
  font-size: 0; /* hide default dot */
}

.room-card .slick-dots li.slick-active div {
  background: #fff;
  opacity: 1;
}
